@font-face {
  font-family: 'GurbaniAkhar';
  font-style: normal;
  font-weight: 400;
  src: local('GurbaniAkhar'),
       url('fonts/GURAKHAR.TTF') format('truetype')
}

.component-conversion-input {
  width: 40%;
  padding: 5%;
}

@media (max-width: 900px) {
  .component-conversion-input {
    width: 100%;
  }
} 
.component-conversion-input textarea {
  background-color: #243447;
  color: #ffffff;
  font-size: 25px;
  font-family: 'GurbaniAkhar';
  width: 100%;
  padding: 5px 0px;
}


